body{
    text-align: left;
    background-image: url(images/bg.png);
    font-family: 'Fredericka the Great', cursive;
    font-size: larger;
}

#card { margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
h1 {position: absolute;
    left: 110px;
    top: 50px;
    width: 400px;
}
#stern1 {
    position: fixed;
    top: 100px;
    left: 40px;
}
#stern2 {
    position: fixed;
    top: 300px;
    left: 50px;
}
#stern3 {
    position: fixed;
    top: 200px;
    left: 220px;
}
#stern4 {
    position: fixed;
    top: 230px;
    left: 450px;
}
#stern1:hover{
    background-image: url("images/stern_hover.png");
}
#stern2:hover{
    background-image: url("images/stern_hover.png");
}
#stern3:hover{
    background-image: url("images/stern_hover.png");
}
#stern4:hover{
    background-image: url("images/stern_hover.png");
}


