body{
    text-align: left;
    background-image: url(images/bg.png);
    font-family: 'Sacramento', cursive;
    font-size: larger;
}

#card { margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.text {position: absolute;
    left: 40px;
    top: 170px;
}
#busch {
    position: absolute;
    left: -50px;
    top: -50px;
}
#gifts {
    position: absolute;
    left: 360px;
    top: 270px;
}
#fire {
    position: absolute;
    left: 320px;
    top: 25px;
}
#star1 {
    position: absolute;
    left: 300px;
    top: 100px;
}
#star2 {
    position: absolute;
    left: 200px;
    top: 20px;
}
#star3 {
    position: absolute;
    left: 90px;
    top: 90px;
}
#star4 {
    position: absolute;
    left: 500px;
    top: 20px;
}
#star5 {
    position: absolute;
    left: 180px;
    top: 130px;
}
#star6 {
    position: absolute;
    left: 360px;
    top: 30px;
}
