body{
    text-align: center;
    background-image: url(images/bg.png);
    font-family: 'Sacramento', cursive;
    font-size: larger;
}

#card { margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.text {position: absolute;
    left: 140px;
    top: 100px;
}
#busch {
    position: absolute;
    left: -50px;
    top: -50px;
}
#pinguin {
    position: absolute;
    left: 450px;
    top: 200px;

}
